@charset "utf-8";
/* CSS Document */

body{
margin: 10px 0 10px 0;
padding:0;
text-align:center;
background: #003300 url(images/kalogo.png) repeat-x;
background-attachment: fixed;
letter-spacing: 1px;
}

#pagewidth{
width:960px;
background-color: #fff;
border: 4px solid #fff;
text-align:left;
margin-bottom: 10px;
margin-left:auto;
margin-right:auto;
font-family: Arial, Lucida Grande, Verdana, Helvetica, sans-serif; /* Lucida Grande for the Macs, Tahoma for the PCs */
font-size: 13px;
line-height: 1.6em;
color: #000;
}

#header{
position: relative;
height: 93px;
width: 100%;
background: url(kalogo.png) no-repeat 0% 0%;
}

.title {
margin: 0;
padding: 32px 0 0 78px;
color: #fff;
font-size: 26px;
font-weight: bold;
letter-spacing: 1px;
}

#leftcol{
width:190px;
float:left;
position:relative;
background-color:#fff;
}

/* NAVIGATION LEFT */

#menu1 {
width: 190px;
float: left;
}

#menu1title {
margin: 0;
background-image: url(kalogo);
padding: 2px 0 0 10px;
width: 180px;
height: 18px;
color: #fff;
font-size: 14px;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 1px;
line-height: normal;
}

#menu1 ul {
list-style: none;
margin: 0;
padding: 0;
}

#menu1 li a:link, #menu1 li a:visited {
width: 164px;
\width: 190px;
w\idth: 164px;
display: block;
color: #000;
margin-left: 0px;
padding: 5px 0 0 26px;
font-weight: bold;
outline: none;
background: url(images/bg_nav.gif) repeat-y;
}

#menu1 li a:hover {
color: #000;
padding: 5px 0 0 26px;
text-decoration: none;
background: #fff url(images/kalogo.png);
background-repeat: no-repeat;
}

/* BEGIN SUBLINKS */

#menu1 ul ul li {margin: 0;padding: 0;}

#menu1 ul ul a:link,#menu1 ul ul a:visited
{
display: block;
padding: 5px 0 0 40px;
width: 150px;
color: #cc0000;
text-decoration: underline;
font-size: 11px;
}

#menu1 ul ul a:hover
{
background-image: none;
color: #eb9999;
text-decoration: none;
background: url(images/kalogo.png) repeat-y;
}

/* END SUBLINKS */

/* NAVIGATION TOP */

#menu2 {
margin: 0 0 12px 0;
float:right;
width:100%;
font-size:93%;
line-height:normal;
border-bottom: 1px solid #598C01;
}

#menu2 ul {
margin:0;
padding:10px 0 0 50px;
list-style:none;
}

#menu2 li {
display:inline;
margin:0;
padding:0;
}

#menu2 a {
float:right;
background:url("images/kalogo.png") no-repeat left top;
margin:0;
padding:0 0 0 4px;
text-decoration:none;
width: 100px;
}

#menu2 a span {
float:right;
display:block;
background:url("images/kalogo.png") no-repeat right top;
padding:5px 8px 4px 6px;
color:#fff;
text-align: center;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#menu2 a span {float:none;}
/* End IE5-Mac hack */
#menu2 a:hover span {
color:#FFF;
}

#menu2 a:hover {
background-position:0% -42px;
}

#menu2 a:hover span {
background-position:100% -42px;
}

#menu2 #current a {
background-position:0% -42px;
}
#menu2 #current a span {
background-position:100% -42px;
}

a {
color: #235000;
text-decoration: underline;
font-weight: bold;
outline: none;
}

a:hover {
color: #9EC630;
text-decoration: none;
}

#list
{
margin-left: 20px;
padding-left: 0;
list-style: none;
}

#list li
{
position: relative;
padding-left: 16px;
background-image: url(images/kalogo.png);
background-repeat: no-repeat;
background-position: 0 .5em;
}

.borders {
border: 1px solid #000000;
}

#twocols{
width:770px;
float:right;
position:relative;
height: 100%;
}

#rightcol{
width:190px;
float:right;
position:relative;
background-color:#fff;
font-size: 11px;
line-height: 1.4em;
height: 100%;
}

/*----------Begin Newsbox----------*/

fieldset {
border: 1px solid #000;
padding: 6px;
margin-top: 6px;
}

legend {
color: #000;
font-weight: normal;
letter-spacing: 1px;
font-size: 14px;
text-transform: uppercase;
}

/*----------End Newsbox----------*/

#maincol{
background-color: #fff;
float: left;
display:inline;
position: relative;
width:580px;
height: 100%;
}

h1,h2,h3 {
margin: 0 20px 5px 20px;
font-size: 22px;
font-weight: normal;
color: #598C01;
letter-spacing: 3px;
line-height: normal;
}

h4 {
margin: 10px 0 0 0;
padding: 4px 0 4px 6px;
font-size: 14px;
font-weight: normal;
color: #000;
letter-spacing: 2px;
line-height: normal;
background: #DCF4C2 url(images/kalogo.png) no-repeat;
background-position: right;
}

#text{
padding: 0 20px 20px 20px;
}

#footer {
padding: 20px 0 20px 0;
background-color:#fff;
clear: both;
text-align: center;
}

.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.clearfix{display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */

